<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 自动将数据库中以下划线为分隔符的字段映射到实体中以驼峰方式命名的属性上 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>