<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>NBA of micro-service project</title>
        <meta name="description" content="Blue One Page Creative HTML5 Template">
        <meta name="author" content="Peihao Tong">

        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="css/jquery.fancybox.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="css/owl.carousel.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="css/slit-slider.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">
        <script src="js/modernizr-2.6.2.min.js"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Index</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
		<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

    </head>
	
    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div>
		</div>

        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand">
						<a href="#body">NBA</a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="#body">Home</a></li>
                        <li><a href="#service">Team</a></li>
                        <li><a href="#price">Top Players</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
        </header>

		
		<main class="site-content" role="main">
		

		
		<section id="home-slider">
            <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">
				
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">

						<div class="bg-img bg-img-1"></div>

						<div class="slide-caption">
                            <div class="caption-content">
                                <h2 class="animated fadeInDown">2016-17 NBA Most Valuable Player</h2>
                                <span class="animated fadeInDown">Russell Westbrook</span>
                            </div>
                        </div>
						
					</div>
					
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
					
						<div class="bg-img bg-img-2"></div>
						<div class="slide-caption">
                            <div class="caption-content">
                                <h2>2016-17 NBA Most Valuable Player</h2>
                                <span>James Harden</span>
                            </div>
                        </div>
						
					</div>
					
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
						
						<div class="bg-img bg-img-3"></div>
						<div class="slide-caption">
                            <div class="caption-content">
                                <h2>2016-17 NBA Most Valuable Player</h2>
                                <span>Kawhi Leonard</span>
                            </div>
                        </div>

					</div>

				</div>


                
                <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                    <a href="javascript:;" class="sl-prev">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </a>
                    <a href="javascript:;" class="sl-next">
                        <i class="fa fa-angle-right fa-3x"></i>
                    </a>
                </nav>
                

				<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
				</nav>

			</div><!-- /slider-wrapper -->
		</section>

			<section id="service">
				<div id="app" class="container">
					<div class="row">
					
						<div class="sec-title text-center">
							<h2 class="wow animated bounceInLeft">Team</h2>
							<p class="wow animated bounceInRight">all teams in NBA</p>
						</div>

						<template v-for="value in teams">
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<div class="service-icon">
									<a v-bind:href="getTeamPage(value.id)">
										<img width="100" height="100" v-bind:src="value.image"/>
									</a>
								</div>
								<h3>{{value.engName}}</h3>
							</div>
						</div>
						</template>


						
					</div>
				</div>
			</section>

			



			<section id="price">
				<div class="container" id="app_top">
					<div class="row">
					
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Top Players</h2>
							<p>the Best Players in NBA</p>
						</div>

						<div class="col-md-4 wow animated fadeInUp">
							<div class="price-table text-center">
								<span>Score</span>
								<div class="value">
									<span></span>
									<span>{{top_score}}</span>
									<br>
									<span>2016-17</span>
								</div>
								<table class="table table-bordered">
									<tbody>
									<template v-for="value in scores">
										<tr>
											<td><a v-bind:href="getPlayerPage(value.playerId)">{{value.name}}</a></td>
											<td>{{value.score}}</td>
										</tr>
									</template>

									</tbody>
								</table>
							</div>
						</div>
						
						<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
							<div class="price-table featured text-center">
								<span>Assist</span>
								<div class="value">
									<span></span>
									<span>{{top_assist}}</span><br>
									<span>2016-17</span>
								</div>
								<table class="table table-bordered">
									<tbody>
									<template v-for="value in assists">
										<tr>
											<td><a v-bind:href="getPlayerPage(value.playerId)">{{value.name}}</a></td>
											<td>{{value.assist}}</td>
										</tr>
									</template>

									</tbody>
								</table>
							</div>
						</div>
						
						<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s">
							<div class="price-table text-center">
								<span>Rebound</span>
								<div class="value">
									<span></span>
									<span>{{top_rebound}}</span><br>
									<span>2016-17</span>
								</div>
								<table class="table table-bordered">
									<tbody>
									<template v-for="value in rebounds">
										<tr>
											<td><a v-bind:href="getPlayerPage(value.playerId)">{{value.name}}</a></td>
											<td>{{value.rebound}}</td>
										</tr>
									</template>

									</tbody>
								</table>
							</div>
						</div>

						<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
							<div class="price-table featured text-center">
								<span>Steal</span>
								<div class="value">
									<span></span>
									<span>{{top_steal}}</span><br>
									<span>2016-17</span>
								</div>
								<table class="table table-bordered">
									<tbody>
									<template v-for="value in steals">
										<tr>
											<td><a v-bind:href="getPlayerPage(value.playerId)">{{value.name}}</a></td>
											<td>{{value.steal}}</td>
										</tr>
									</template>

									</tbody>
								</table>
							</div>
						</div>

						<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s">
							<div class="price-table text-center">
								<span>Block</span>
								<div class="value">
									<span></span>
									<span>{{top_block}}</span><br>
									<span>2016-17</span>
								</div>
								<table class="table table-bordered">
									<tbody>
									<template v-for="value in blocks">
										<tr>
											<td><a v-bind:href="getPlayerPage(value.playerId)">{{value.name}}</a></td>
											<td>{{value.block}}</td>
										</tr>
									</template>

									</tbody>
								</table>
							</div>
						</div>

						<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
							<div class="price-table featured text-center">
								<span>Turnover</span>
								<div class="value">
									<span></span>
									<span>{{top_turnover}}</span><br>
									<span>2016-17</span>
								</div>
								<table class="table table-bordered">
									<tbody>
									<template v-for="value in turnovers">
										<tr>
											<td><a v-bind:href="getPlayerPage(value.playerId)">{{value.name}}</a></td>
											<td>{{value.foul}}</td>
										</tr>
									</template>

									</tbody>
								</table>
							</div>
						</div>


		
					</div>
				</div>
			</section>

		
		
		</main>
		
		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					<div class="footer-content">

					</div>
				</div>
			</div>
		</footer>
		<script>
            var app = new Vue({
                el: '#app',
                data: {
                    teams: [],
                },
                created: function(){
                    this.getTeams()
                },
                methods: {
                    getTeams: function (){
                        this.$http.get('/api/teams').then(response => {
                            this.teams = response.body;
                    	}, response => {
                            console.log("API Error");window.location.reload();
                        });

					},

                    getTeamPage: function (id) {
                        return "team_profile.html?id="+id;
                    }
                }
            })
		</script>
		<script>
            var app_top = new Vue({
                el: '#app_top',
                data: {
                    scores:[],
					assits:[],
					rebounds:[],
					steals:[],
					blocks:[],
                    turnovers:[],
                    top_assist:"null",
                    top_rebound:"null",
                    top_steal:"null",
					top_score:"null",
					top_block:"null",
					top_turnover:"null"
                },
                created: function(){
                    this.getTops()
                },
                methods: {

                    getTops: function () {
                        this.$http.get('/api/matches/top/score').then(response => {
                            this.scores = response.body.data;
                            this.top_score=response.body.data[0].score
                    	}, response => {
                            console.log("API Error");window.location.reload();
                        });

                        this.$http.get('/api/matches/top/assist').then(response => {
                            this.assists = response.body.data;
                            this.top_assist=response.body.data[0].assist
                    	}, response => {
                            console.log("API Error");window.location.reload();
                        });
                        this.$http.get('/api/matches/top/rebound').then(response => {
                            this.rebounds = response.body.data;
                        	this.top_rebound=response.body.data[0].rebound
                    	}, response => {
                            console.log("API Error");window.location.reload();
                        });
                        this.$http.get('/api/matches/top/steal').then(response => {
                            this.steals = response.body.data;
                        	this.top_steal=response.body.data[0].steal
                    	}, response => {
                            console.log("API Error");window.location.reload();
                        });
                        this.$http.get('/api/matches/top/block').then(response => {
                            this.blocks = response.body.data;
                        this.top_block=response.body.data[0].block
                    	}, response => {
                            console.log("API Error");window.location.reload();
                        });
                        this.$http.get('/api/matches/top/foul').then(response => {
                            this.turnovers = response.body.data;
                            this.top_turnover=response.body.data[0].foul
                    	}, response => {
                            console.log("API Error");window.location.reload();
                        });
                    },
                    getPlayerPage: function (id) {
                        return "player.html?id="+id;
                    }

                }
            })
		</script>
		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="js/jquery-1.11.1.min.js"></script>
		<!-- Twitter Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
		<!-- Single Page Nav -->
        <script src="js/jquery.singlePageNav.min.js"></script>
		<!-- jquery.fancybox.pack -->
        <script src="js/jquery.fancybox.pack.js"></script>
		<!-- Google Map API -->

		<!-- Owl Carousel -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- jquery easing -->
        <script src="js/jquery.easing.min.js"></script>
        <!-- Fullscreen slider -->
        <script src="js/jquery.slitslider.js"></script>
        <script src="js/jquery.ba-cond.min.js"></script>
		<!-- onscroll animation -->
        <script src="js/wow.min.js"></script>
		<!-- Custom Functions -->
        <script src="js/main.js"></script>
    </body>
</html>
